body {
    background-color: #0e2709;
    color: white;
    margin: 20px;
  }
  input {
    width: 300px;
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
  }
  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 19, 19);
    gap: 10px;
    width: 600px;
    border-radius: 15px;
    padding: 25px;
    margin: 0 auto;
  }
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background-color: #26734e;
  }
  button:hover{
      filter: brightness(70%);
  }